body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background-color: rgb(143, 49, 100) !important;
    /* For Gradient Background */
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
}

footer {
    height: 15%;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: rgb(163, 163, 163);
    text-align: center;
}

.heart {
    color:#e25555;
}

footer a {
    text-decoration: none !important;
    color: #fff !important;
}

/* For Gradient Background */
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.content {
    height: 70%;
}

.cities-description h3 {
    color: rgb(44, 44, 44);
    font-family: 'Brush Script MT', 'Brush Script Std', cursive;
}

.cities-description p {
    color: rgb(216, 216, 216);
    font-family: 'Bradley Hand', cursive;
}

.content-middle-line {
    background-color: rgba(224, 224, 224, 0.733);
    width: 2px;
    height: 100% !important;
}

.instructor-container {
    height: auto;
    position: relative;
    padding-right: 15px;
    padding-left: 15px;
}

.instructor-container div {
    filter: brightness(1);
    overflow: hidden;
    border-radius: 3%;
}

.instructor-container div img {
    width: 100%;
    height: auto;
    transition: all .5s;
    vertical-align: middle;
    border-style: none;
}

.instructor-container div:hover img {
	transform: scale(1.1);
	filter: brightness(1.2) contrast(1.07);
}

.course-instructors a {
    text-decoration: none !important;
    color: rgb(75, 75, 75) !important;
}